<div ng-controller="NavController" class="navWrap">

        <div class="navHead">
            <h1>EELS AND DEALS</h1>
            <h4>A BANGAZON CORP</h4>
            <h2>DATA PORTAL</h2>
        </div>

        <div class="navLinks">
            <div><button ng-click="toDepartments()">Departments</button></div>
            <div><button ng-click="toEmployees()">Employees</button></div>
            <div><button ng-click="toCustomers()">Customers</button></div>
            <div><button ng-click="toProducts()">Products</button></div>
            <div><button ng-click="toOrders()">Orders</button></div>
            <div><button ng-click="toComputers()">Computers</button></div>
            <div><button ng-click="toTrainingPrograms()">Training Programs</button></div>        
            <div><button ng-click="toProductTypes()">Product Types</button></div>
            <div><button ng-click="toPaymentTypes()">Payment Types</button></div>
        </div>
</div>

